 <phpunit
  stderr="true"
  verbose="true"
 >
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
  <filter>
    <whitelist>
	  <directory suffix=".php">./web</directory>
	  <exclude>
	  	<directory suffix=".php">./web/include/fpdf16/tutorial</directory>
	  </exclude>
	</whitelist>
  </filter>
</phpunit>
