 <phpunit
  backupGlobals="true"
  processIsolation="true"
  stderr="true"
  verbose="true"
 >
 <testsuites>
    <testsuite name="test_suite_one">
      <file>UnitTests/OneTest.php</file>
      <file>UnitTests/indexTest.php</file>
      <file>UnitTests/paymentsTest.php</file>
      <file>UnitTests/contactsTest.php</file>
      <file>UnitTests/jobsTest.php</file>
      <file>UnitTests/locationsTest.php</file>
      <file>UnitTests/maintenanceTest.php</file>
      <file>UnitTests/cpTest.php</file>
      <file>UnitTests/imageTest.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
  <filter>
    <whitelist>
	  <directory suffix=".php">./web</directory>
	  <exclude>
		<directory suffix=".php">./web/include/fpdf16</directory>
		<directory suffix=".php">./web/Crypt</directory>
		<directory suffix=".php">./web/File</directory>
		<directory suffix=".php">./web/Net</directory>
		<directory suffix=".php">./web/Math</directory>
	  </exclude>
	</whitelist>
  </filter>
</phpunit>
