 <phpunit
  stderr="true"
  verbose="true"
 >
  <testsuites>
    <testsuite name="test_suite_one">
      <file>unit_tests/OneTest.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
	  <directory suffix=".php">./web</directory>
	  <exclude>
	  	<directory suffix=".php">./web/include/fpdf16/tutorial</directory>
	  </exclude>
	</whitelist>
  </filter>
</phpunit>
