body
{
	font-size: 4vw;
}

input[type=checkbox] {
  transform: scale(3.0);
}

ul.topmenu
{
	width:100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

ul.topmenu li
{
	float: left;
}

ul.topmenu li a
{
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border: 1px solid #ccc;
}

ul.topmenu li a.selected
{
	color: #096;
}

div.loc_grid_elem
{
	display: inline;
	float: left;
	width:150px;
	height:150px;
	margin: 5%;
}

.loc_grid_elem a img
{
	border: none;
	display: block;
	width: 90%:
	height: 90%;
}

.buttons
{
	padding: 0.2in 0.2in 0.2in 0.2in;
 font-size: 4vw;
}
.fields
{
	padding: 0.2in 0.2in 0.2in 0.2in;
 font-size: 4vw;
}