#https://www.thermalspecialist.com/
RewriteEngine on
RewriteCond %{HTTP_HOST} ^thermalspecialist\.com
RewriteRule ^(.*)$ https://www.thermalspecialist.com/$1 [R=permanent,L] 

# Protect the config file
<Files config.ini>
Order Allow,Deny
Allow from localhost
Deny from all
</Files>

#ssl client configuration
#php must verify certificate chain
#user web browser gets no say in who we trust
SSLVerifyClient optional_no_ca
SSLVerifyDepth 1
SSLOptions +StdEnvVars +ExportCertData

php_value display_errors on
